<%= turbo_frame_tag dom_id(@tweet) do %>
  <div class="tweet">
    <h1>Editing Tweet</h1>

    <%= render 'form', tweet: @tweet %>

    <%# <%= link_to 'Show', @tweet %1> | %>
    <%= link_to 'Cancel', @tweet %>
  </div>
<% end %>
